<section id="about-us" class="container mt-5">

    <div class="row align-items-center">
        {{!-- Columna de texto --}}
        <div class="col-md-6 order-md-1 order-2">
            <h2 class="display-5 fw-bold text-primary mb-4">About Us</h2>
            <p class="text-justify fs-5 mb-4 text-muted">
                At <span class="text-primary fw-semibold">Neo Smile Dental Clinic</span>, we are dedicated to providing the best dental care with a focus on comfort and personalized attention. Our highly trained team of professionals is committed to offering comprehensive dental services, including general dentistry, orthodontics, cosmetic procedures, and more.
            </p>
            <p class="text-justify fs-5 mb-4 text-muted">
                We believe in creating lasting relationships with our patients, ensuring that each visit is a positive and comfortable experience. Our clinic is equipped with the latest technology to provide efficient and effective treatments tailored to your needs.
            </p>

            {{!-- Misión --}}
            <h3 class="fs-5 fw-semibold text-primary mt-4">Our Mission</h3>
            <p class="text-justify fs-5 mb-4 text-muted">
                To provide exceptional dental care and improve the health and appearance of our patients' smiles in a comfortable and friendly environment.
            </p>

            {{!-- Visión --}}
            <h3 class="fs-5 fw-semibold text-primary mt-4">Our Vision</h3>
            <p class="text-justify fs-5 mb-4 text-muted">
                To be recognized as a leading dental clinic known for its outstanding care, cutting-edge technology, and commitment to the well-being of our patients.
            </p>

        </div>

        {{!-- Columna de imagen --}}
        <div class="col-md-6 order-md-2 order-1 mb-4 mb-md-0">
            <img src="assets/gabinete-clinica-dental.jpg" alt="Dental Clinic Image" class="img-fluid rounded-4 shadow-lg" style="width: 100%; height: auto;">
        </div>
    </div>

    {{!-- Sección del mapa --}}
    <section id="map" class="container mt-5 pt-5">
        <h2 class="display-5 fw-bold text-primary mb-4 text-center">Find Us</h2>
        <div class="row">
            <div class="col-12">
                <div class="ratio ratio-16x9">
                    <iframe class="rounded-4 shadow-lg" 
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3945.542456174492!2d-83.9037738!3d9.8775521!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0df108ca9668d%3A0xed13a84debf9aeb5!2sCentro%20Odontom%C3%A9dico%20del%20Este!5e0!3m2!1ses-419!2scr!4v1675012455237!5m2!1ses-419!2scr"
                            width="100%" height="450" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                </div>
            </div>
        </div>
    </section>

</section>
