{{page-title "Comments"}}

<GeneralContainer>
    <HomeNavigation></HomeNavigation>

    <div class="conatiner-fluid mt-4 text-center">
        <div class="conatiner-fluid mt-4 text-center">
        <h1>
            Vista del Comments
        </h1>
    </div>
    </div>

</GeneralContainer>