{{page-title "Services"}}

<GeneralContainer>
    <HomeNavigation></HomeNavigation>
    <div class="conatiner-fluid mt-4 text-center">
        <h1>
            Vista del Services
        </h1>
    </div>
</GeneralContainer>